<!-- todo_list/todo_app/templates/todo_app/todolist_form.html -->
{% extends "base.html" %}

{% block content %}

<h3>{{ title }}</h3>
<div>
    <div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input
                    type="submit"
                    value="Save">
            <input
                    onclick="location.href='{% url 'index' %}';"
                    type="button"
                    value="Cancel">
        </form>
    </div>
</div>

{% endblock %}